{% load static %}

{% include 'topo.html' %}

{% include 'headerindex.html' %}


    <!-- Hero Section Begin -->
    <section class="herox hero-x"> <!-- AQUI TA DIFERENTE -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Segmentos</span>
                        </div>
                        {% for categoria in menu_categorias %}
                            <ul>
                                <li><a href="{% url 'categoria' categoria.slug %}">{{ categoria.titulo }}</a></li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-9">
                    {% include 'buscaproduto.html' %}
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    {% block content %} {% endblock %}

    {% include 'footer.html' %}

    {% include 'rodape.html' %}