{% extends 'basesubp2.html' %}
{% load static %}

{% block content %}  

<section class="section-padding bg-gray">
    <div class="container">
      <div class="section-header text-center">          
        <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Conheça Nossa Equipe</h2>
        <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
      </div>
      <div class="row">
        
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/anaclara.jpeg' %}">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3>Ana Clara</h3>
                <p>Programador Frontend</p>
              </div>
              <p>Programa em Python</p>
              <ul class="social-icons">
                <li><a href="https://github.com/AnaClaraPerosa" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/anaclaraperosa/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/anaclara_perosa/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/jaqueperes.jpeg' %}">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3>Jaqueline Peres</h3>
                <p>Programador Frontend</p>
              </div>
              <p>Programa em programas</p>
              <ul class="social-icons">
                <li><a href="https://github.com/jaquealt" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="www.linkedin.com/in/jaquelineperesaltismo" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/jaquesuaarte/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
            <div class="team-img">
              <img class="img-fluid" height="160px" width="188x" src="{% static 'img/lucas.jpeg' %}">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3>Lucas Salvaro</h3>
                <p>Programador Backend</p>
              </div>
              <p>Programa Java</p>
              <ul class="social-icons">
                <li><a href="https://github.com/Lucas0SD" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/lucas-salvarodimon/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/lucas_salvarodimon/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
            <div class="team-img">
              <img class="img-fluid" height="175px" width="175px" src="{% static 'img/renan.jpeg' %}">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3>Renan Oliveira</h3>
                <p>Estagiário</p>
              </div>
              <p>Severino</p>
              <ul class="social-icons">
                <li><a href="https://github.com/cremodev" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/cremodev/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/mcremosin/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/adriano.jpeg' %}">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3>Adriano Machado</h3>
                <p>Estagiário</p>
              </div>
              <p>Severino</p>
              <ul class="social-icons">
                <li><a href="https://github.com/Machado-tec" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/xadrak/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/maxadocombr/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        
      </div>
    </div>
  </section>
    <!-- Team Section End -->
{% endblock %}