{% extends 'basesubp2.html' %}
{% load static %}

{% block content %}  

<section class="section-padding bg-gray">
    <div class="container">
      <div class="section-header text-center">          
        <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Conheça Nossa Equipe</h2>
        <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
      </div>
      <div class="row">
        
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/anaclara.jpeg' %}">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3>Ana Clara Perosa</h3>
                <p>Médica Veterinária</p>
              </div>
              <p> Backend Developer </p>
              <p> Python | Django | Ágeis </p>
              <ul class="social-icons">
                <li><a href="https://github.com/AnaClaraPerosa" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/anaclaraperosa/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/anaclara_perosa/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/jaqueperes.jpeg' %}">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3>Jaqueline Peres</h3>
                <p> Sistemas de Informações </p>
              </div>
              <p> Frontend Developer | P.O </p>
              <p> Python | Django | Ágeis </p>
              <ul class="social-icons">
                <li><a href="https://github.com/jaquealt" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="www.linkedin.com/in/jaquelineperesaltismo" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/jaquesuaarte/" target="_blank"><i class="fab fa-instagram"></i></a></li> 
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
            <div class="team-img">
              <img class="img-fluid" height="160px" width="188x" src="{% static 'img/lucas.jpeg' %}">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3> Lucas Salvaro </h3>
                <p> Developer </p>
              </div>
              <p> Backend Developer </p>
              <p> Python | Django | Ágeis </p>
              <ul class="social-icons">
                <li><a href="https://github.com/Lucas0SD" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/lucas-salvarodimon/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/lucas_salvarodimon/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        
        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
            <div class="team-img">
              <img class="img-fluid" height="175px" width="175px" src="{% static 'img/renan.jpeg' %}">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3>Renan Oliveira</h3>
                <p> Artista Visual </p>
              </div>
              <p>Backend Developer</p>
              <p>Python | Django | Ágeis</p>
              <ul class="social-icons">
                <li><a href="https://github.com/cremodev" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/cremodev/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/mcremosin/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-6 col-md-12 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/adriano.jpeg' %}">
            </div>
            <div class="contetn">
              <div class="info-text">
                <h3>Adriano Machado</h3>
                <p>Professor</p>
              </div>
              <p> DevOps | Python | Django | Ágeis</p>
              <ul class="social-icons">
                <li><a href="https://github.com/Machado-tec" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/xadrak/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/maxadocombr/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        
      </div>
    </div>
  </section>
    <!-- Team Section End -->

    <!-- Features Section Start -->
  <section id="features" class="section-padding">
      <div class="container">
        <div class="section-header text-center">          
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Ferramentas Utilizadas</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="content-left">
              <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
                <span class="icon">
                  <i class="devicon-bootstrap-plain"></i>
                </span>
                <div class="text">
                  <h4>Bootstrap 4</h4>
                  <p> Framework aberto que utilizamos como auxílio na implementação do Frontend </p>
                </div>
              </div>
              <div class="box-item wow fadeInLeft" data-wow-delay="0.6s">
                <span class="icon">
                  <i class="devicon-sqlite-plain colored"></i>
                  <i class="devicon-mysql-plain colored"></i>
                </span>
                <div class="text">
                  <h4>SQLite e MySQL</h4>
                  <p>SGBD utilizados para trabalhar com dados local e remotamente </p>
                </div>
              </div>
              <div class="box-item wow fadeInLeft" data-wow-delay="0.9s">
                <span class="icon">
                  <i class="fab fa-html5"></i>
                  <i class="fab fa-css3-alt"></i>
                </span>
                <div class="text">
                  <h4>HTML e CSS </h4>
                  <p>Linguagem de marcação e estilização utilizados na construção do Frontend </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="show-box wow fadeInUp" data-wow-delay="0.3s">
              <img src="{% static 'img/logogg.png' %}" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="content-right">
              <div class="box-item wow fadeInRight" data-wow-delay="0.3s">
                <span class="icon">
                  <i class="fab fa-python"></i>
                </span>
                <div class="text">
                  <h4>Python</h4>
                  <p> Linguagem base para o desenvolvimento do projeto </p>
                </div>
              </div>
              <div class="box-item wow fadeInRight" data-wow-delay="0.6s">
                <span class="icon">
                  <i class="devicon-django-plain colored"></i>
                </span>
                <div class="text">
                  <h4>Django</h4>
                  <p> Framework utilizado no projeto com a aplicação de Model, Template, View </p>
                </div>
              </div>
              <div class="box-item wow fadeInRight" data-wow-delay="0.9s">
                <span class="icon">
                  <i class="fab fa-trello"></i>
                </span>
                <div class="text">
                  <h4>Trello</h4>
                  <p> Utilizamos o Trello como aplicação de metodologias ágeis para as definições de Scrum e Kanban </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
    <!-- Features Section End --> 
{% endblock %}