{% extends 'index.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Editando Produtos ¦ {% endblock %}

{% block content %}    

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="text-white h3">
                        <h3>Editando seus produtos</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-9">
                <p class="mt-5 mb-3 text-muted"></p>
                <form class="col-lg-9 col-md-4 col-sm-6" method="post" enctype="multipart/form-data">
            
                    {% csrf_token %}
            
                    <!-- {{ form.as_p }} -->

                    {{ form|crispy }}
                    <p class="mt-5 mb-3 text-muted"></p>
                    <div class="field">
                        <div class="control">
                            <button class="btn btn-lg btn-success btn-block" type="submit">Editar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>        
{% endblock %}

