{% extends 'index.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col-md-4 mx-auto">
        <h3>Cadastro</h3>

        <p class="lead">
            Preencha todos os campos obrigatórios.
        </p>

        <hr>

        <form action="" method="POST">

            {% csrf_token %}

            {{ form|crispy }}
        <div class="text-center">
            <button type="submit" style="background-color: #7fad39; color: antiquewhite;" class="btn btn-light mt-3">
                {% autoescape off %}
                {{ icone }}
                {% endautoescape %}
                {{ botao }}
            </button>
        </div>

        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $(document).ready(function(){

        $("#id_telefone").mask("(00) 0000-00009");
        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 0 0000-0000' : '(00) 0000-00009';
        },
            spOptions = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

        $('#id_telefone').mask(SPMaskBehavior, spOptions);
        // $('.cep').mask('00000-000');
        // $('.date').mask('00/00/0000');

        
    });
</script>

{% endblock %}
