<!-- <div class="row"> -->
<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="{{ produto.get_thumbnail }}">
            <ul class="product__item__pic__hover">
                <li><a href="{% url 'produto' produto.categoria.slug produto.slug %}"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
        </div>
        <div class="product__item__text">
            <h6>{{ produto.titulo }}</h6>
            <h5>R$ {{ produto.preco }}</h5>
        </div>
    </div>
</div>
<!-- </div> -->